*.cache
code/Caldera/CalderaCore/CalderaCore/obj/Debug/CalderaCore.csproj.FileListAbsolute.txt
code/Caldera/CalderaCore/CalderaCore/obj/Debug/CalderaCore.dll
code/Caldera/CalderaCore/CalderaCore/obj/Debug/CalderaCore.pdb
code/Caldera/CalderaCore/CalderaCore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
code/Caldera/CalderaCore/CalderaCore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
code/Caldera/CalderaCore/CalderaCore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
code/Caldera/CalderaCore/CalderaCore/obj/Release/CalderaCore.csproj.FileListAbsolute.txt
code/Caldera/CalderaCore/CalderaCore/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
code/Caldera/CalderaCore/CalderaCore/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
code/Caldera/CalderaCore/CalderaCore/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
code/Caldera/CalderaEditor/CalderaEditor.suo
code/Caldera/CalderaEditor/CalderaEditor.v11.suo
code/Caldera/CalderaEditor/CalderaServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
code/Caldera/CalderaEditor/CalderaServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
code/Caldera/CalderaEditor/CalderaServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
code/Caldera/CalderaEditor/CalderaServer/obj/Release/CalderaServer.csproj.FileListAbsolute.txt
code/Caldera/CalderaEditor/CalderaServer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
code/Caldera/CalderaEditor/CalderaServer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
code/Caldera/CalderaEditor/CalderaServer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
code/Caldera/CalderaEditor/Frontend/bin/Debug/Frontend.exe
code/Caldera/CalderaEditor/Frontend/bin/Debug/Frontend.exe.config
code/Caldera/CalderaEditor/Frontend/bin/Debug/Frontend.pdb
code/Caldera/CalderaEditor/Frontend/bin/Debug/Frontend.vshost.exe.config
code/Caldera/CalderaEditor/Frontend/bin/Debug/Frontend.vshost.exe.manifest
code/Caldera/CalderaEditor/Frontend/bin/Debug/WindowsFormsApplication1.exe.config
code/Caldera/CalderaEditor/Frontend/bin/Debug/WindowsFormsApplication1.vshost.exe.config
code/Caldera/CalderaEditor/Frontend/bin/Debug/WindowsFormsApplication1.vshost.exe.manifest
code/Caldera/CalderaEditor/Frontend/obj/Debug/Frontend.csproj.FileListAbsolute.txt
code/Caldera/CalderaEditor/Frontend/obj/Release/Frontend.Controls.KeywordEditor.resources
*/obj/*
*/Debug/*
*/TemporaryGeneratedFile*